################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Triathlon/Triathlon-Atleti/.vs/Triathlon-Atleti/FileContentIndex/cd7efa82-e449-4331-ba3a-95820ecad19d.vsidx
